.main-layout {
  display: flex;
  min-height: 100vh;
  background: #E0DAF7;
  background-size: 200% 200%;
  color: var(--text-white);
}

.content-area {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
}