<div class="content-wrapper">
    <!--Vista 7. Gestión de los grupos-->
    <p-card class="glass-card">
        <h1>Administración de Grupos</h1>
        <div class="card flex justify-center">
            Total
            <p-badge value="2" severity="info" badgeSize="xlarge" />
        </div>
        <div class="card flex justify-center">
            Advance
            <p-card class="home-advance"></p-card>
        </div>
        <div class="groups-grid">
            @for (group of groups; track group.id) {
            <p-card class="glass-card group-item">
                <ng-template pTemplate="header">
                    <div class="card-header">
                        <h2>{{ group.name }}</h2>
                        <p-badge [value]="group.memberCount" severity="info" />
                    </div>
                </ng-template>

                <div class="group-content">
                    <p><strong>Miembros:</strong></p>
                    <ul>
                        @for (user of group.members.slice(0, 3); track user.email) {
                        <li>{{ user.email }}</li>
                        }
                    </ul>
                    @if (group.members.length > 3) {
                    <small>...y {{ group.members.length - 3 }} más</small>
                    }
                </div>

                <ng-template pTemplate="footer">
                    <div class="card-buttons">
                        <p-button icon="pi pi-eye" label="Tickets" [style]="{ 'background': 'var(--color-blue-btn)', 'border-color': 'var(--color-blue-btn)' }" *hasPermission="'tickets_view'"
                            (click)="viewTickets(group)" />
                        <p-button icon="pi pi-pencil" label="Editar" [style]="{ 'background': 'var(--color-orange-btn)', 'border-color': 'var(--color-orange-btn)' }" *hasPermission="'group_edit'"
                            (click)="editGroup(group)" />

                        <p-button icon="pi pi-trash" label="Borrar" severity="danger" *hasPermission="'group_delete'"
                        (click)="deleteGroup(group)"/>
                    </div>
                </ng-template>
            </p-card>
            }

            <div class="card flex justify-center card-crud">
                <p-button
                    [style]="{ 'background': 'var(--color-purple-dark)', 'border-color': 'var(--color-purple-dark)' }" *hasPermission="'group_add'"
                    (click)="showDialog()" label="Agregar Grupo" />
            </div>

        </div>

        <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '35rem' }">
            <ng-template #header>
                <div class="inline-flex items-center justify-center gap-2">
                    <span class="font-bold whitespace-nowrap">Nuevo Grupo</span>
                </div>
            </ng-template>
            <span class="text-surface-500 dark:text-surface-400 block mb-8">Ingresa un nuevo grupo con la siguiente
                información.</span>
            <form form [formGroup]="groupForm">
                <div class="form-register">
                    <div class="form-group">
                        <label for="usuario">Nivel</label>
                        <p-inputgroup>
                            <p-inputgroup-addon>
                                <i class="pi pi-star"></i>
                            </p-inputgroup-addon>
                            <input pInputText placeholder="Nivel" name="nivel" formControlName="nivel" />
                        </p-inputgroup>
                    </div>
                    <div class="form-group">
                        <label for="usuario">Autor</label>
                        <p-inputgroup>
                            <p-inputgroup-addon>
                                <i class="pi pi-user"></i>
                            </p-inputgroup-addon>
                            <input pInputText placeholder="Autor" name="autor" formControlName="autor" />
                        </p-inputgroup>
                    </div>
                    <div class="form-group">
                        <label for="usuario">Nombre</label>
                        <p-inputgroup>
                            <p-inputgroup-addon>
                                <i class="pi pi-user"></i>
                            </p-inputgroup-addon>
                            <input pInputText placeholder="Nombre" name="nombre" formControlName="nombre" />
                        </p-inputgroup>
                    </div>
                    <div class="form-group">
                        <label for="usuario">Integrantes</label>
                        <p-inputgroup>
                            <p-inputgroup-addon>
                                <i class="pi pi-home"></i>
                            </p-inputgroup-addon>
                            <input pInputText placeholder="Integrantes" name="integrantes"
                                formControlName="integrantes" />
                        </p-inputgroup>
                    </div>
                    <div class="form-group">
                        <label for="usuario">Tickets</label>
                        <p-inputgroup>
                            <p-inputgroup-addon>
                                <i class="pi pi-user"></i>
                            </p-inputgroup-addon>
                            <input pInputText placeholder="Tickets" name="tickets" formControlName="tickets" />
                        </p-inputgroup>
                    </div>
                    <div class="form-group">
                        <label for="usuario">Descripción</label>
                        <p-inputgroup>
                            <p-inputgroup-addon>
                                <i class="pi pi-user"></i>
                            </p-inputgroup-addon>
                            <input pInputText placeholder="Descripcion" name="descripcion"
                                formControlName="descripcion" />
                        </p-inputgroup>
                    </div>
                </div>

            </form>
            <ng-template #footer>
                <p-button label="Cancelar" [text]="true" severity="secondary" (click)="visible = false" />
                <p-button label="Guardar" [outlined]="true" severity="secondary" (click)="visible = false" />
            </ng-template>
        </p-dialog>
        <p-dialog 
            [(visible)]="displayEditDialog" 
            [header]="selectedGroup?.id ? 'Editar Grupo' : 'Nuevo Grupo'" 
            [modal]="true" 
            [style]="{ width: '450px' }" 
            class="p-fluid">
            
            <div class="field mb-4">
                <label for="name" class="block mb-2">Nombre del Grupo</label>
                <input type="text" pInputText id="name" [ngModel]="selectedGroup.name" required autofocus />
            </div>

            <div class="field mb-4">
                <label class="block mb-2">Añadir Integrante (Email)</label>
                <div class="p-inputgroup">
                    <input type="email" pInputText placeholder="usuario@correo.com" [ngModel]="newUserEmail"  />
                    <p-button type="button" icon="pi pi-plus" (click)="addUser()" *hasPermission="'group_add_member'"></p-button>
                </div>
            </div>

            <div class="field">
                <label class="block mb-2">Lista de Miembros</label>
                <div class="member-list">
                    @for (user of selectedGroup.members; track user.email) {
                        <div class="flex justify-between items-center p-2 border-b">
                            <span>{{ user.email }}</span>
                            <p-button icon="pi pi-user-minus" [rounded]="true" [text]="true" severity="danger" *hasPermission="'group_remove_member'" (click)="removeUser(user.email)" />
                        </div>
                    }
                </div>
            </div>

            <ng-template pTemplate="footer">
                <p-button label="Cancelar" icon="pi pi-times" [text]="true" (click)="displayEditDialog = false" />
                <p-button label="Guardar" icon="pi pi-check" (click)="saveGroup()" />
            </ng-template>
        </p-dialog>

        <p-dialog 
            [(visible)]="displayDeleteDialog" 
            header="Confirmar Eliminación" 
            [modal]="true" 
            [style]="{ width: '350px' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem; color: var(--red-500)"></i>
                <span>¿Estás seguro de eliminar el grupo <b>{{selectedGroup?.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <p-button label="No" icon="pi pi-times" [text]="true" (click)="displayDeleteDialog = false" />
                <p-button label="Sí, eliminar" icon="pi pi-trash" severity="danger" (click)="confirmDelete()" />
            </ng-template>
        </p-dialog>
    </p-card>
</div>