<div class="content-wrapper">
    <!--Vista 6. Perfil de Usuario (tickets de user)-->
    <p-card class="glass-card">
        <h1 class="tittle">Datos del Usuario</h1>
        <div class="info-user">
            <div class="label-user">Nombre de Usuario: <span>User</span></div>
            <div class="label-user">Email: <span>eden@gmail.com</span></div>
            <div class="label-user">Contraseña: <span>******</span></div>
            <div class="label-user">Nombre Completo: <span>Edén Leilani Romero Serrano</span></div>
            <div class="label-user">Dirección: <span>Av Del Ferrocarril 45</span> </div>
            <div class="label-user">Fecha de Nacimiento: <span>06/09/05</span> </div>
            <div class="label-user">Numero de Teléfono: <span>44444444444444</span></div>
        </div>
        <div class="card flex card-crud">
            <p-button [style]="{ 'background': 'var(--color-blue-btn)', 'border-color': 'var(--color-blue-btn)' }"
                (click)="showDialog()" label="Editar mis datos" *hasPermission="['user_edit']" />
        </div>
    </p-card>
    <p-card class="glass-card">
        <h1>Mis Tickets</h1>
        <div class="table-responsive shadow-sm rounded">
            <table class="table table-hover bg-white">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Estado</th>
                        <th>Prioridad</th>
                        <th>Fecha de Creación</th>
                        <th>Fecha Límite</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @for (ticket of tickets; track ticket.id) {
                    <tr>
                        <td><strong>#{{ ticket.id }}</strong></td>
                        <td>
                            @if (ticket.estado === 'Completado') {
                            <span class="badge bg-success text-white">Completado</span>
                            } @else if (ticket.estado === 'En Proceso') {
                            <span class="badge bg-warning text-dark">En Proceso</span>
                            } @else {
                            <span class="badge bg-secondary text-white">{{ ticket.estado }}</span>
                            }
                        </td>
                        <td>
                            <span [class.text-danger]="ticket.prioridad === 'Alta'"
                                [class.font-weight-bold]="ticket.prioridad === 'Alta'">
                                {{ ticket.prioridad }}
                            </span>
                        </td>
                        @let fechaCreacion = asDate(ticket.fechaCreacion);
                        <td>{{ fechaCreacion | date:'dd/MM/yyyy' }}</td>
                        @let fechaLimite = asDate(ticket.fechaLimite);
                        <td>{{ fechaLimite | date:'dd/MM/yyyy' }}</td>
                        <td>
                            <p-button icon="pi pi-pencil" label="Editar Estado"
                                [style]="{ 'background': 'var(--color-orange-btn)', 'border-color': 'var(--color-orange-btn)' }"
                                *hasPermission="['ticket_edit_state']" (click)="editState()" />
                        </td>
                    </tr>
                    } @empty {
                    <tr>
                        <td colspan="5" class="text-center text-muted">
                            No se encontraron tickets con esos filtros.
                        </td>
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td>Pendientes: 1</td>
                        <td>En progreso: 1</td>
                        <td>Hechos: 0</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </p-card>

    <p-dialog [(visible)]="displayEditState" [header]="'Editar Estado del Ticket'" [modal]="true"
        class="p-fluid custom-modal">
        <form [formGroup]="ticketForm" class="form-grid">
            <div class="field">
                <label for="estado">Estado Actual:</label>
                <p-select formControlName="estado" [options]="estadosOptions" optionLabel="label" optionValue="value"
                    placeholder="Selecciona un estado" appendTo="body">
                </p-select>
            </div>
        </form>

        <ng-template pTemplate="footer">
            <p-button label="Cancelar" icon="pi pi-times" [text]="true" (click)="displayEditState = false" />
            <p-button label="Guardar" icon="pi pi-check" (click)="guardarTicket()" />
        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '35rem' }">
        <ng-template #header>
            <div class="inline-flex items-center justify-center gap-2">
                <span class="font-bold whitespace-nowrap">Editar mis datos</span>
            </div>
        </ng-template>
        <span class="text-surface-500 dark:text-surface-400 block mb-8">Ingresa un nuevo grupo con la siguiente
            información.</span>
        <form form [formGroup]="perfilForm">
            <div class="form-register">
                <div class="form-group">
                    <label for="usuario">Nombre de Usuario</label>
                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="pi pi-user"></i>
                        </p-inputgroup-addon>
                        <input pInputText placeholder="Usuario" name="usuario" formControlName="usuario" />
                    </p-inputgroup>

                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="pi pi-envelope"></i>
                        </p-inputgroup-addon>
                        <input pInputText formControlName="email" placeholder="Email" />
                    </p-inputgroup>

                </div>
                <div class="form-group">
                    <label for="contrasenia">Contraseña</label>
                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="pi pi-lock"></i>
                        </p-inputgroup-addon>
                        <p-password [toggleMask]="true" formControlName="contrasenia" placeholder="Contraseña" />
                    </p-inputgroup>
                </div>
                <div class="form-group">
                    <label for="contrasenia">Nombre Completo</label>
                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="pi pi-star"></i>
                        </p-inputgroup-addon>
                        <input pInputText formControlName="nomCompleto" placeholder="Nombre Completo" />
                    </p-inputgroup>
                </div>
                <div class="form-group">
                    <label for="contrasenia">Dirección</label>
                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="pi pi-map-marker"></i>
                        </p-inputgroup-addon>
                        <input pInputText formControlName="direccion" placeholder="Dirección" />
                    </p-inputgroup>
                </div>
                <div class="form-group">
                    <label for="contrasenia">Fecha de Nacimiento</label>
                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="pi pi-calendar"></i>
                        </p-inputgroup-addon>

                        <p-datepicker formControlName="fechaNacimiento" placeholder="Fecha de Nacimiento"
                            dateFormat="dd/mm/yy" [fluid]="true" [showIcon]="false" />
                    </p-inputgroup>

                    <small id="username-help" style="display: block; margin-top: 0.5rem;">
                        <i class="pi pi-info-circle"></i> La página no permite menores de 18 años.
                    </small>
                </div>
                <div class="form-group">
                    <label for="telefono">Número de Teléfono</label>
                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="pi pi-phone"></i>
                        </p-inputgroup-addon>
                        <p-inputnumber formControlName="telefono" placeholder="Número de teléfono"
                            [useGrouping]="false" />
                    </p-inputgroup>
                    <small id="username-help"><i class="pi pi-check"></i>Ingrese unicamente números en este
                        apartado.</small>
                </div>
            </div>

        </form>
        <ng-template #footer>
            <p-button label="Cancelar" [text]="true" severity="secondary" (click)="visible = false" />
            <p-button label="Guardar" [outlined]="true" severity="secondary" (click)="visible = false" />
        </ng-template>
    </p-dialog>
</div>