
.info-user {
    padding: 1rem;
    font-size: 18px;
    box-shadow: 0 8px 32px 0 rgba(150, 155, 226, 0.37);
}

.label-user {
    font-weight: bolder;
}

span {
    font-weight: lighter;
}

.card-crud {
    padding: 1rem;
}

.badge {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
}

.bg-success {
    background-color: #d4edda;
    color: #155724;
}

.bg-secondary {
    background-color: #e2e3e5;
    color: #383d41;
}

.card-buttons {
    border-top-width: 1px;
    border-top-style: solid;
    color: #a9a9a9;
    display: flex;
    flex-direction: row;
}

.form-register {
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info-login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.form-button {
    margin-top: 10px;
    align-items: center;
}

/* Tabla Estilizada */
.table-responsive {
    border: 1px solid #f1f5f9;
    border-radius: 10px;
    overflow: hidden;
}

.table {
    margin-bottom: 0;
    font-size: 0.95rem;
}

/* Cabecera oscura profesional */
.thead-dark th {
    background-color: #1e293b !important; /* Azul pizarra profundo */
    color: #ffffff;
    font-weight: 500;
    border: none;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-size: 0.8rem;
}

/* Filas y Celdas */
.table tbody tr {
    transition: background-color 0.15s ease-in-out;
}

.table tbody td {
    padding: 1rem;
    vertical-align: middle;
    border-bottom: 1px solid #f1f5f9;
    color: #334155;
}

/* Efecto Hover */
.table-hover tbody tr:hover {
    background-color: #f8fafc !important;
    cursor: pointer;
}

.user-table-container {
    max-width: 100%;
    overflow-x: hidden;
}

td {
    white-space: normal !important;
    word-wrap: break-word;
}

::ng-deep .p-multiselect {
    max-width: 100%;
}

/* Badges personalizados */
.badge {
    padding: 0.5em 0.8em;
    font-size: 0.75rem;
    font-weight: 600;
    border-radius: 12px; /* Estilo píldora */
    letter-spacing: 0.05em;
}

/* Ajustes de Prioridad */
.text-danger {
    color: #ef4444 !important;
}

.font-weight-bold {
    font-weight: 700;
}