.register-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    min-height: 150vh;       /* Ocupa el 100% de la altura de la ventana */
    /*background-color: #f4f4f4;  Opcional: un color de fondo suave */
    flex-direction: column;
}

.title-erp {
    color: var(--color-blue);
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container-erp {
    background-color: #a2e8f8;
}

.form-register {
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info-login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.form-button {
    margin-top: 10px;
    align-items: center;
}