<div class="sidebar" [class.collapsed]="!isExpanded">
    <p-toast />
    @if(isExpanded) {
    <button class="menu-btn" (click)="toggle()">
        <i class="pi pi-times"></i>
    </button>
    <nav>
        <div>
            <ul>
                <li>
                    <a class="item-sidebar" (click)="'/home'">
                        <i class="pi pi-home mr-2 icon-sidebar"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a class="item-sidebar" (click)="users()">
                        <i class="pi pi-user mr-2 icon-sidebar"></i>
                        <span>Usuarios</span>
                    </a>
                </li>
                <li>
                    <a class="item-sidebar" (click)="groups()">
                        <i class="pi pi-objects-column mr-2 icon-sidebar"></i>
                        <span>Grupos</span>
                    </a>
                </li>
                <li>
                    <a class="item-sidebar" (click)="tickets()">
                        <i class="pi pi-ticket mr-2 icon-sidebar"></i>
                        <span>Tickets</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="line-sidebar"></div>
        <div>
            <ul>
                <li>
                    <a class="item-sidebar">
                        <img class="profile-img-sidebar" src="/images/tem-icon.png" alt="ProfileImg">
                        <span>User</span>
                    </a>
                </li>
                <li>
                    <a class="item-sidebar" (click)="signOut()">
                        <i class="pi pi-sign-out mr-2 icon-sidebar sign-out"></i>
                        <span class="sign-out">Cerrar Sesión</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    } @else {
    <div class="menu-min">
        <a class="menu-btn" (click)="toggle()">
            <i class="pi pi-bars icon-sidebar"></i>
        </a>
    </div>
    <div class="line-menu"></div>
    <div class="menu-min">
        <a class="menu-profile">
            <img class="menu-icon" src="/images/tem-icon.png">
        </a>
    </div>
    <div class="menu-min">
        <a class="menu-profile" (click)="signOut()">
            <i class="pi pi-sign-out icon-sidebar sign-out"></i>
        </a>
    </div>
    }
</div>