/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import '../node_modules/@syncfusion/ej2-base/styles/tailwind3.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/tailwind3.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/tailwind3.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/tailwind3.css';
@import '../node_modules/@syncfusion/ej2-layouts/styles/tailwind3.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/tailwind3.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/tailwind3.css';
@import '../node_modules/@syncfusion/ej2-kanban/styles/tailwind3.css';

.p-card {
    margin: 1rem;
}

.content-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
}

:host ::ng-deep .p-card {
    width: 100%;
}

:root {
    --color-purple-dark: #3D0A49;
    --color-purple: #5015BD;
    --color-blue: #027FE9;
    --color-blue-light: #00CAF8;
    --color-white: #E0DAF7;

    --color-blue-btn: #1A37BD;
    --color-yellow-btn: #FFDD04;
    --color-orange-btn: #FF8504;

    --glass-effect: rgba(255, 255, 255, 0.1);
    --text-white: #ffffff;
    --bg-main-gradient: linear-gradient(135deg,
            var(--color-blue-erp-dark) 0%,
            var(--color-purple-erp-dark) 100%);
}